$white: #fff;
$dark_gradient: linear-gradient(86.94deg, #2c313d -21.23%, rgba(56, 59, 66, 0) 52.58%);
$violet: #9c8bea;
$border: rgba(129, 103, 227, .2);
$violet_gradient: linear-gradient(236.84deg, #9c8bea 1.49%, #544695 105.35%);
$violet_gradient_dark: linear-gradient(236.84deg, darken(#9c8bea, 10) 1.49%, darken(#544695, 10) 105.35%);
$box_shadow: -4px 4px 15px rgba(129, 103, 227, 0.2);
$text: #4f586b;
$web_grey: #8b92ab;
$dark_bg: #3b455a;
$sub_gray: #e2dfef;
